:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* top__nav */

#top__nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 7vh;
  justify-content: space-around;
  align-items: center;
  background-color: rebeccapurple;
  color: white;
}

#top__nav a {
  color: white;
  text-decoration: none;
}

#top__nav a:hover {
  color: yellow;
}

#top__nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

/* content */

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}



/* footer */

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  height: 7vh;
  background-color: rebeccapurple;
  color: white;
}